/*project-omega-watch
Layout2 Stat Display
@version 1
@author KcK
7 March 2017*/
/*-------------------------------*/
/*POKE PRESENTATION*/
/*-------------------------------*/
body{
	background-color:grey;/*set by poke script*/
}
.pokeBanner{
	padding:15px 0px 15px 0px;
	margin:0px 0px 10px 0px;
	border-style:solid;
	border-width:5px 0px 0px 0px;
	border-color:blue;/*Set by poke script*/
	text-align:center;
	color:purple;/*set by poke script*/
}
.pokeHUD{
	background-image:;
}

/*-------------------------------*/
/*POKE PANELS*/
/*-------------------------------*/
.pokePanel{
	margin:0px 0px 20px 0px;
	box-shadow:2px 2px 2px purple;/*Set by poke script*/
}
[class*='pokePanel-']{

}
.pokePanel-title{
	padding:5px 5px 5px 5px;
	border-style:solid;
	border-width:2px 2px 2px 2px;
	border-color:blue;/*Set by poke script*/
	color:purple;/*set by poke script*/
}
.pokePanel-content{
	padding:15px 5px 5px 5px;
	border-style:solid;
	border-width:0px 2px 2px 2px;
	border-color:blue;/*Set by poke script*/
}

/*-------------------------------*/
/*POKE TEXTUAL THINGS*/
/*-------------------------------*/
.pokeText{
	color:red;/*set by poke script*/
}

/*-------------------------------*/
/*POKE ACTIONS*/
/*-------------------------------*/
.pokeButton{
	padding:5px 10px 5px 10px;
	margin:5px auto 5px auto;
	border:none;
	box-shadow:2px 2px 2px purple;/*Set by poke script*/
	background-color:yellow;/*set by poke script*/
	color:red;/*set by poke script*/
	display:inline-block;
}