<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Layout 1</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Reset.css CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha256-7VVaJ5GDwFQiLIc+eNksQLUSSY5JNZtqv9o2BI8UGYg=" crossorigin="anonymous" />
		<link rel="stylesheet" href="layout1.css">
		<link rel="stylesheet" href="pokeman-style.css">	
	</head>
	<body>
		<div class="heading">
			<div class="title">
				<h1>Party Time!</h1>
			</div>
			<a href="#">Fire</a>
			<a href="#">Thunder</a>
			<a href="#">Grass</a>
		</div>
		
	</body>
</html>