<!-- project-omega-watch
Layout2 Stat Display
@version 1
@author KcK
7 March 2017 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stat Display</title>
	<!-- Attach reset css -->
	<link rel="stylesheet" type="text/css" href="../css/reset.css">
	<!-- Attach grid system css -->
	<link rel="stylesheet" type="text/css" href="../css/grid.css">
	<!-- Attach custom styles css for layout2 -->
	<!-- Modified CSS with variables Included. Works with Inherit rules when called in order. -->
	<!-- <link rel="stylesheet" type="text/css" href="layout2-stats.css"> -->
	<link rel="stylesheet" type="text/css" href="layout2-stats-with-vars.css">

	<!-- Attach Generated Style Colors -->
	<link rel="stylesheet" type="text/css" href="pokeman-style.css">
</head>
<body>
<!-- +++++++++++++++++++ -->
<!-- BANNER -->
<!-- +++++++++++++++++++ -->
<div class="row pokeBanner">
	<h1>Stereotypical Small Banner to Add a Well Placed Quote</h1>
	<h3>HOVER OVER ELEMENTS TO GRAB CODE ... or not, your choice 0_0</h3>
</div>

<!-- +++++++++++++++++++ -->
<!-- PANEL1 & PANEL2 -->
<!-- +++++++++++++++++++ -->
<div class="row">
	<div class="col-2"></div>
	<div class="pokePanel col-3">
		<div class="pokePanel-title"><h3>Panel Title 1</h3></div><!--  PANEL TITLE -->
		<div class="pokePanel-content">
			<div class="row">
				<div><button class="pokeButton col-5" type="button">Option Text</button></div>
				<div class="col-2"></div>
				<div><button class="pokeButton col-5" type="button">Option Text</button></div>
			</div>
			<div class="row">
				<div><button class="pokeButton col-5" type="button">Option Text</button></div>
				<div class="col-2"></div>
				<div><button class="pokeButton col-5" type="button">Option Text</button></div>
			</div>
		</div><!-- PANEL CONTENT -->
	</div>
	<div class="col-2"></div>
	<div class="pokePanel col-3">
		<div class="pokePanel-title"><h3>Panel Title 2</h3></div><!--  PANEL TITLE -->
		<div class="pokePanel-content">
			<div class="pokeText">Content Text</div>
		</div><!-- PANEL CONTENT -->
	</div>
	<div class="col-2"></div>
</div>

<!-- +++++++++++++++++++ -->
<!-- MAIN HUD DISPLAY OVERVIEW -->
<!-- +++++++++++++++++++ -->
<div class="row pokeHUD">
	<div class="col-3">
		<a><p>Stat 1</p></a><!--  Stat -->
		<a><p>Stat 2</p></a><!--  Stat -->
		<a><p>Stat 3</p></a><!--  Stat -->
		<a><p>Stat 4</p></a><!--  Stat -->
	</div>
	<div class="col-6">
		<canvas>
			<img/>
		</canvas><!-- Add pokemon gif -->
	</div>
	<div class="col-3">
		<a><p>Stat 5</p></a><!--  Stat -->
		<a><p>Stat 6</p></a><!--  Stat -->
		<a><p>Stat 7</p></a><!--  Stat -->
		<a><p>Stat 8</p></a><!--  Stat -->
	</div>
</div>
<!-- +++++++++++++++++++ -->
<!-- BACKGROUND INFO -->
<!-- +++++++++++++++++++ -->
<div class="row">
	<div class="col-2"></div>
	<div class="pokePanel col-8">
		<div class="pokePanel-title"><h3>Background Info</h3></div><!--  PANEL TITLE -->
		<div class="pokePanel-content">
			<div class="pokeText">Content Text</div>
		</div><!-- PANEL CONTENT -->
	</div>
	<div class="col-2"></div>
</div>

<!-- +++++++++++++++++++ -->
<!-- STRENGTHS & WEAKNESSES -->
<!-- +++++++++++++++++++ -->
<div clas="row">
	<div class="col-2"></div>
	<div>
		<div class="pokePanel col-3">	
			<div class="pokePanel-title"><h3>Strengths</h3></div>
			<div class="pokePanel-content">
				<ul>
					<li>Example</li>
					<li>Example</li>
					<li>Example</li>
					<li>Example</li>
				</ul>
			</div>
		</div>
		<div class="col-2"></div>
		<div class="pokePanel col-3">
			<div class="pokePanel-title"><h3>Weaknesses</h3></div>
			<div class="pokePanel-content">
				<ul>
					<li>Example</li>
					<li>Example</li>
					<li>Example</li>
					<li>Example</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-2"></div>
</div>

<!-- +++++++++++++++++++ -->
<!-- FUN FACTS -->
<!-- +++++++++++++++++++ -->
<div class="row">
	<div class="col-2"></div>
	<div class="pokePanel col-8">	
		<div class="pokePanel-title"><h3>Fun Facts</h3></div>
		<div class="pokePanel-content">
			<ul>
				<li>Example</li>
				<li>Example</li>
				<li>Example</li>
				<li>Example</li>
			</ul>
		</div>
	</div>
	<div class="col-2"></div>
</div>	
</body>
</html>