<!-- project-omega-watch
Layout2 Stat Display
@version 1
@author KcK
7 March 2017 -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stat Display</title>
</head>
<body>
<!-- +++++++++++++++++++ -->
<!-- BANNER -->
<!-- CLASSES: pokeBanner, pokePanel, pokeButton, pokeHUD, pokeText -->
<!-- +++++++++++++++++++ -->
<div class="pokeBanner">
	<h1>Stereotypical Small Banner to Add a Well Placed Quote</h1>
	<h3>HOVER OVER ELEMENTS TO GRAB CODE ... or not, your choice 0_0</h3>
</div>

<!-- +++++++++++++++++++ -->
<!-- PANEL1 & PANEL2 -->
<!-- +++++++++++++++++++ -->
<div>
	<div class="pokePanel">
		<div class="pokePanel-title"><h1>Panel Title 1</h1></div><!--  PANEL TITLE -->
		<div class="pokePanel-content">
			<div class="pokeButton"><button type="button">Option Text</button></div>
			<div class="pokeButton"><button type="button">Option Text</button></div>
			<div class="pokeButton"><button type="button">Option Text</button></div>
			<div class="pokeButton"><button type="button">Option Text</button></div>
		</div><!-- PANEL CONTENT -->
	</div>
	<div class="pokePanel">
		<div class="pokePanel-title"><h1>Panel Title 2</h1></div><!--  PANEL TITLE -->
		<div class="pokePanel-content">
			<div class="pokeText">Content Text</div>
		</div><!-- PANEL CONTENT -->
	</div>
</div>

<!-- +++++++++++++++++++ -->
<!-- MAIN HUD DISPLAY OVERVIEW -->
<!-- +++++++++++++++++++ -->
<div class="pokeHUD">
	<div>
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
	</div>
	<div>
		<canvas>
			<img/>
		</canvas><!-- Add pokemon gif -->
	</div>
	<div>
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
		<a><p></p></a><!--  Stat -->
	</div>
</div>
<!-- +++++++++++++++++++ -->
<!-- BACKGROUND INFO -->
<!-- +++++++++++++++++++ -->
<div class="pokePanel">
	<div class="pokePanel-title"><h1>Background Info</h1></div><!--  PANEL TITLE -->
	<div class="pokePanel-content">
		<div class="pokeText">Content Text</div>
	</div><!-- PANEL CONTENT -->
</div>

<!-- +++++++++++++++++++ -->
<!-- STRENGTHS & WEAKNESSES -->
<!-- +++++++++++++++++++ -->
<div>
	<div class="pokePanel">	
		<div class="pokePanel-title"><h1>Strengths</h1></div>
		<div class="pokePanel-content">
			<ul></ul>
		</div>
	</div>
	<div class="pokePanel">
		<div class="pokePanel-title"><h1>Weaknesses</h1></div>
		<div class="pokepanel-content">
			<ul></ul>
		</div>
	</div>
</div>

<!-- +++++++++++++++++++ -->
<!-- FUN FACTS -->
<!-- +++++++++++++++++++ -->
<div>
	<h1>Fun Facts</h1>
</div>
	
</body>
</html>