/*project-omega-watch
Layout2 Stat Display
@version 1
@author KcK
11 March 2017*/
/*-------------------------------*/
/*FireBase Styling*/
/*-------------------------------*/
.staticBar{
	position:static;
	background-color:rgba(230, 0, 18, .2);
}
.navi{
	padding:10px 10px 10px 10px;
	float:left;
}
#search{}
#layouts{}
.userAuth{
	padding:10px 10px 10px 10px;
	position:relative;
	left:30%; /*change for media devices*/
}
#email, #password, #message{
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:black;
}
#message{
	padding:2px 5px 2px 5px;
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:black;
	display: inline-block;
	background-color:#375a7f;
	color:white;
	visibility:hidden;
}
#register, #login, #logout, #profile{
	background-color:white;
	border-width:2px 2px 2px 2px;
	border-style:solid;
	border-color:black;
	color:black;
}
#register:hover, #login:hover, #logout:hover, #email:hover, #password:hover, #profile:hover{
	box-shadow: 2px 2px 2px black;
}
#register:active, #login:active, #logout:active, #profile:active{
	box-shadow: 2px 2px 2px red;
	border-color:red;
}
#register:focus, #login:focus, #logout:focus, #email:focus, #password:focus, #profile:focus{
	outline:0;
}