/* These are initial declarations of the CSS variables. Use by replacing any color value in this document with var([property variable name]) There are no quotes. See examples. */
html {
	--paragraph-text-color: initial;
	--div-text-color: initial;
	--header-text-color: initial;
	--body-bg-color: initial;
	--div-bg-color: initial;
	--border-color: initial;
	--div-box-shadow-color: initial;
}

body {
	background-color: var(--body-bg-color);
}

p {
	color: var(--paragraph-text-color);
}

div {
	color: var(--div-text-color);
	box-shadow: 5px 5px 2px var(--div-box-shadow-color);
	background-color: var(--div-bg-color); 
	border: 3px dotted var(--border-color);
}

h1,h2,h3,h4,h5,h6 {
	color: var(--header-text-color);
}

