html {
	--primary-text-color: initial;
	--secondary-text-color: initial;
	--primary-background-color: initial;
	--secondary-background-color: initial;
	--vibrant-color: initial;
}

.row0 {

}

.row1 {

}

.row2 {

}
