<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Layout One</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Reset.css CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" integrity="sha256-7VVaJ5GDwFQiLIc+eNksQLUSSY5JNZtqv9o2BI8UGYg=" crossorigin="anonymous" />
		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
		<script
		src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		crossorigin="anonymous"></script>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		<link rel="stylesheet" href="layout-one.css">
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<script src="layout-one.js" type="text/javascript"></script>
	</head>
	<body>
		<div class="container">
			<!-- Headers and Style -->
			<div class="panel panel-default">
				<div class="panel-body example-markup">
					<h1>Check it.</h1>
					<p>I ain't a killer but don't push me
						Revenge is like the sweetest joy next to gettin' cats <br>
						Picture paragraphs unloaded, wise words bein' quoted
						Peeped the weakness int he rap game and sewed it <br>
						Bow down, pray to God hoping that he's listenin'
						Seein' friends comin' for me, to my diamonds, when they glistenin' <br>
						Now pay attention, rest in peace father
						I'm a ghost in these killin' fields
						Hail Mary catch me if I go, let's go deep inside <br>
						The solitary mind of a madman who screams in the dark
						Evil lurks, enemies, see me flee
					Activate my hate, let it break, to the flame</p>
				</div>
			</div>
			<!-- Draggable colors -->
			<div class="panel panel-default">
				<div class="panel-body palette-box"></div>
			</div>
			<!-- Drop container -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="row">
						<div class="col-sm-2 style-box">
							<p>Paragraph Text</p>
							<div class="well color-holder" data-css-var="--paragraph-color"></div>
						</div>
						<div class="col-sm-2 style-box">
							<p>Background</p>
							<div class="well color-holder" data-css-var="--bg-color"></div>
						</div>
						<div class="col-sm-2 style-box">
							<p>Header Text</p>
							<div class="well color-holder" data-css-var="--header-color"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</body>
</html>